<div class="login-container">
    <div class="login-left">
      <h2>Register! 👋</h2>
  
      <form #registerForm="ngForm" (ngSubmit)="register()" class="d-flex" autocomplete="off" >
        <label for="firstname">First Name</label>
        <input [(ngModel)]="model.FirstName" type="text" id="firstname" name="firstname" placeholder="First Name">
  
        <label for="lastname">Last Name</label>
        <input [(ngModel)]="model.LastName"  type="text" id="lastname" name="lastname" placeholder="Last Name">
  
        <label for="email">Email</label>
        <input [(ngModel)]="model.Email" type="email" id="email" name="email" placeholder="tes@gmail.com">
  
        <label for="username">UserName</label>
        <input [(ngModel)]="model.UserName" type="text" id="username" name="username" placeholder="username">
  
        <label for="password">Password</label>
        <input [(ngModel)]="model.Password" type="password" id="password" name="password" placeholder="******">
  
        <button type="submit" class="btn btn-signin">Sign Up</button>
      </form>
      <p>
        Have an account? <button (click)="redirect()"> Sign In</button>
      </p>
    </div>
  </div>
  
  
