

   .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/bg_image.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
   }


/* ------------------------login */
#loginfrom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  font-family: 'Times New Roman', Times, serif;
}
/* #login{
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(images/spiceShop/login4.webp) no-repeat;
  background-size: cover;
  background-position: center;

} */
.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 255.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .2s ease;
  overflow: hidden;
}
.wrapper.active{
  height: 600px;
}
.wrapper .form-box.login{
  /* display: none; */
  transition: transform .18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register{
  /* display: none; */
  transition: transform .001s ease;
  transform: translateX(0);
}
.wrapper .form-box{
  width: 100%;
  padding: 40px;
  color: #FFFFFF;
}
.form-box h2{
  font-size: 2em;
  text-align: center;
  color: #FFFFFF;
}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #FFFFFF;
  margin: 30px 0;
  color: #FFFFFF;
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
  
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 400;
  padding: 0 35px 0 5px;
}
.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}
.remember-forgot{
  font-size: .9em;
  color: #FFFFFF;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input{
  accent-color: #fff;
  margin-right:3px ;
}
.remember-forgot a{
  color:	#4682b4;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
  color: 	#0000FF;
}
.btnsubmit{
  width: 100%;
  height: 30px;
  background:#d3d3d3;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #000000;
  font-size: 1em;
  font-weight: 600;
}
.btnsubmit:hover{
  background-color:#696969;
  color: #FFFFFF
}
.login-register{
  font-size: .9em;
  text-align: center;
  font-weight:500 ;
  margin: 25px 0 10px;
}

.login-register a{
  color:	#4682b4;
  text-decoration: none;
}
.login-register a:hover{
  color:#0000FF ;
}


   /* form {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #000;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: #ffffff;
  }

  input:focus {
    outline: none;
    border-color: #4682b4;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4682b4;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  button:hover:not(:disabled) {
    background-color: #005f7f;
  }
  
  .error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
  } */